{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "quotes": 0,
    "indent": ["error", 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-debugger": 0,
    "semi": [1, "always"],
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "no-unused-vars": [1, {
      "vars": "all",
      "args": "after-used"
    }]
  }
}